<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TableLiveEdit.Core.Properties.Settings.TableLiveEditConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=TableLiveEdit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>